<h1><%= $battle.player_1.name %> vs. <%= $battle.player_2.name %></h1>

<p><%= "#{$battle.player_2.name} HP: #{$battle.player_2.hp}" %></p>

<% if @last_action %>
  <%= $battle.player_1.name + " attacked " + $battle.player_2.name %>
<% end %>

<form action="/play" method="post">
  <input type="submit" name="last_action" value="Attack">
</form>
